<%= form_for(character_character) do |f| %>
  <% if character_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character_character.errors.count, "error") %> prohibited this character_character from being saved:</h2>

      <ul>
      <% character_character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_src_id %>
    <%= f.text_field :character_src_id %>
  </div>

  <div class="field">
    <%= f.label :character_dest_id %>
    <%= f.text_field :character_dest_id %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
