<p id="notice"><%= notice %></p>

<h1>Character Sections</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Character</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @character_sections.each do |character_section| %>
      <tr>
        <td><%= character_section.section %></td>
        <td><%= character_section.character %></td>
        <td><%= character_section.value %></td>
        <td><%= link_to 'Show', character_section %></td>
        <td><%= link_to 'Edit', edit_character_section_path(character_section) %></td>
        <td><%= link_to 'Destroy', character_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character Section', new_character_section_path %>
