<p id="notice"><%= notice %></p>

<h1>Character Skills</h1>

<table>
  <thead>
    <tr>
      <th>Character</th>
      <th>Rule</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @character_skills.each do |character_skill| %>
      <tr>
        <td><%= character_skill.character %></td>
        <td><%= character_skill.rule %></td>
        <td><%= character_skill.value %></td>
        <td><%= link_to 'Show', character_skill %></td>
        <td><%= link_to 'Edit', edit_character_skill_path(character_skill) %></td>
        <td><%= link_to 'Destroy', character_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character Skill', new_character_skill_path %>
